html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


html {
    --pink: #F8DFC6;
    --darkpink: #EEAD90;
    --blue: #2F3B48; 
    --font-sans-serif: "IBM Plex Sans Light", sans-serif;
    --font-serif: "Plantin Light", serif;
}

/**
* typography
*/


body {
    font-family: var(--font-serif);
    line-height: 1.4;
    color: var(--blue);
    text-align: center;
    margin: 7rem;
    font-size: x-large;
}
  
h1 {
    font-family: var(--font-sans-serif);
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.1;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: var(--font-sans-serif);
    font-size: x-small;
    line-height: 1.1;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
}

h3,
h4 {
    font-family: var(--font-sans-serif);
    font-size: x-small;
    line-height: 1.1;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;

}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

img {
    max-width: 100%;
}

/**
* .button
*/

.button {
    padding: 10px 45px 10px 45px;
    border-style: solid;
    border-width: .01rem;
    text-decoration: none;
}

.button:hover {
    background-color: var(--blue);
    color: white;
    border: var(--blue);
    text-decoration: none;  
  }

/**
* .component
*/

.component img {
    max-width: initial;
    border: 1px solid var(--darkpink);
}

.component-img {
    overflow-x: auto;
} 

.component-code {
    border: 1px solid var(--darkpink);
    background-color: var(--pink);
    padding: 15px 25px 15px 25px;
}


/**
* .nav-menu
*/

.nav-menu {
    list-style: none;
    line-height: 2.5;
    font-family: var(--font-serif);
    padding-top: 5em;
    padding-bottom: 5em;
    text-decoration: none;
}

ul li {

}

.sticky-menu-left {
    transform: rotate(-90deg);
    font-family: var(--font-sans-serif);
    font-size: x-small;
    color: var(--blue);
    text-transform: uppercase;
    padding-top: 3em;
    padding-bottom: 3em;
}

/**
* .gallery
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 50px 1fr;
    grid-gap: 100px;
    margin: 50px;
    justify-content: center;
    align-content: center;
}

.article-title {
    font-family: var(--font-sans-serif);
    font-size: x-small;
    line-height: 2;
    color: var(--blue);
    text-transform: uppercase;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.desc {
    font-family: var(--font-serif);
    line-height: 1.4;
    color: var(--blue);
    text-align: left;
    font-size: medium;
    width: 200px;
}



