html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


html {
    --pink: #F8DFC6;
    --darkpink: #EEAD90;
    --blue: #2F3B48; 
    --font-sans-serif: "IBM Plex Sans Light", sans-serif;
    --font-serif: "Plantin Light", serif;
}

/**
* typography
*/


body {
    font-family: var(--font-serif);
    line-height: 1.4;
    color: var(--blue);
    text-align: center;
    font-size: x-large;
    background-color: var(--pink);
}

p {
    font-family: var(--font-serif);
    line-height: 1.4;
    color: var(--blue);
    text-align: center;
    padding-left: 12em;
    padding-right: 12em;
    font-size: xx-large;
}
  
h1 {
    font-family: var(--font-sans-serif);
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.1;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: var(--font-sans-serif);
    font-size: x-small;
    line-height: 1.1;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h3,
h4 {
    font-family: var(--font-sans-serif);
    font-size: x-small;
    line-height: 1.1;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;

}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

img {
    max-width: 100%;
}

/**
* .button
*/

.button {
    padding: 2px 45px 2px 45px;
    border-style: solid;
    border-width: .01rem;
    text-decoration: none;
    background-color: var(--pink);
    margin-top: 3rem;
}

.button:hover {
    background-color: var(--blue);
    color: var(--pink);
    text-decoration: none;  
}

/**
* .section
*/

.hero-section {
    margin-top: 9rem;
}

.article-section {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.features-section {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.reviews-section {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.social-section {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

/**
* .component
*/

.component img {
    max-width: initial;
}

.component-img {
    overflow-x: auto;
} 

.component-code {
    padding: 15px 25px 15px 25px;
    margin-top: 4rem;
}


/**
* .nav-menu
*/

.nav-menu {
    line-height: 2.5;
    font-family: var(--font-serif);
    padding-top: 5em;
    padding-bottom: 5em;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.sticky-menu-left {
    transform: rotate(-90deg);
    font-family: var(--font-sans-serif);
    font-size: x-small;
    color: var(--blue);
    text-transform: uppercase;
    padding-top: 3em;
    padding-bottom: 3em;
}

/**
* .galleries
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 50px 1fr;
    grid-gap: 100px;
    justify-content: center;
    align-content: center;
}

.article-title {
    font-family: var(--font-sans-serif);
    font-size: x-small;
    line-height: 2;
    color: var(--blue);
    text-transform: uppercase;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-desc {
    font-family: var(--font-serif);
    line-height: 1.4;
    color: var(--blue);
    text-align: left;
    font-size: medium;
    width: 200px;
}

.feature-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-template-columns: 50px 1fr;
    grid-gap: 100px;
    justify-content: center;
    align-content: center;
}

.feature-desc {
    font-family: var(--font-serif);
    line-height: 1.4;
    color: var(--blue);
    text-align: left;
    font-size: medium;
    width: 400px;
}

.social-gallery {
    display: flex;
    grid-template-columns: 50px 1fr;
    grid-gap: 100px;
    justify-content: center;
    align-content: center; 
    flex-wrap: wrap;
}


/**
* .footer
*/

.links {
    display: flex; 
    padding: 30px;
    font-size: medium;
    grid-gap: 250px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.list_item:hover {
    font-style: italic;
}

.list_header {
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-size: x-small;
    margin-bottom: 2em;
    justify-content: center;
}

.footer_copyright {
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-size: x-small;
}

hr {
    border: none;
    height: 1px;
    color: var(--blue);
    background-color: var(--blue);
    margin-left: 10rem;
    margin-right: 10rem;
}
