<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components | Hotel Palette</title>

    <link rel="stylesheet" href="https://use.typekit.net/shf8mhj.css" />

    <link href="css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component-name">body</h3>
            <div class="component-img">
                <img 
                    srcset="img/body-copy.png 2x"
                    src="img/body-copy.png" 
                    alt="body copy" />
            </div>

            <div class="component-code">
            <p>We create sweet escapes with style and soul.</p>
            <p>As hotel experts and creative strategists, we partner 
            with ambitious hoteliers, B&B owners and self-catering 
            hosts to finesse guest experience, marketing strategy 
            and brand identity.</p>
            <p>Take a look at some of our <a href="!#">services</a>.</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component-name">heading h2</h3>
            <div class="component-img">
                <img 
                    srcset="img/heading-h2.png 2x"
                    src="img/heading-h2.png" 
                    alt="body copy" />
            </div>

            <div class="component-code">
                <h2>h2</h2>
            </div>
        </article>

    </body>
</html>